<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="defaultStatementTimeout" value="20" />
		<setting name="cacheEnabled" value="false" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="localCacheScope"  value="STATEMENT" />
	</settings>
	<mappers>
		<mapper resource="mapper/mysql/scheduleTaskMapper.xml" />
		<mapper resource="mybatis/HelloScheduleMapper.xml" />	
	</mappers>
</configuration>